.news-list {
  margin: auto;
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-item {
  width: 240px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.post-item__link {
  text-decoration: none;
}

.title {
  color: #000;
  line-height: 1.5;
}

.date {
  display: block;
  color: #7b7b7b;
  font-style: italic;
}

.image-wrapper {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.image-wrapper img {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}
