.news-list {
  margin: auto;
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.news-list__loading {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.post-item {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.post-item__link {
  text-decoration: none;
}

.title {
  color: #000;
  line-height: 1.5;
}

.date {
  display: block;
  color: #7b7b7b;
  font-style: italic;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.image-wrapper img {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}

@media (max-width: 767px) {
  .news-list {
    justify-content: center;
  }

  .post-item {
    width: 240px;
  }

  .image-wrapper {
    width: 240px;
    height: 240px;
  }

  .post-item {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .news-list {
    justify-content: center;
  }

  .post-item {
    width: 267px;
  }

  .image-wrapper {
    width: 267px;
    height: 267px;
  }
}

@media (min-width: 1200px) {
  .post-item {
    width: 267px;
  }

  .image-wrapper {
    width: 267px;
    height: 267px;
  }
}
