.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-search {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 200px;
  box-sizing: border-box;
}

@media (max-width: 479px) {
  .form-search {
    margin-bottom: 1rem;
    flex-direction: column;
    width: 230px;
  }

  .search {
    margin-top: 0.5rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .form-search {
    margin-bottom: 1rem;
    width: 300px;
  }
}

@media (min-width: 768px) {
  .form-search {
    width: 300px;
  }
}
